.container{
  width: 200px;
  border: 1px solid black;
  display: flex;
  width: 960px;
  
}  



.row{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.divs{
  border: 1px solid red;
  width: 20px;
  height: 20px;
  width: 100%;
  transition: 0.5s;
  
}

.red{
  background-color: red;
}