.container{
  border: 1px solid black;
  display: flex;
  width: 960px;
  height: 500px;
  
}  

.row{
  display: flex;
  flex: 1;
  flex-direction: column;
  
}

.divs{
  border: 1px solid red;
  width: 20px;
  height: 20px;
  width: 100%;
  transition: 0.5s;
  flex: 1;
  
}

.red{
  background-color: red;
}