body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.container{
  border: 1px solid black;
  display: flex;
  width: 960px;
  height: 500px;
  
}  

.row{
  display: flex;
  flex: 1;
  flex-direction: column;
  
}

.divs{
  border: 1px solid white;
  background-color: black;
  width: 20px;
  height: 20px;
  width: 100%;
  transition: 0.4s;
  flex: 1;
  
}

title{
  color: black;
}